.app-header {
  .app-nav {
    a {
      font-weight: bold;
      color: #2c3e50;
    }

    a.router-link-exact-active {
      color: #42b983;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    .app-logo {
      display: flex;
      align-items: center;
      .app-logo-image {
        max-width: 100%;
        width: 200px;
      }
    }
    .app-nav-block-items {
      .app-nav-item {
        text-decoration: none;
        margin-right: 0.5rem;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
